<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../sass/components/business.css">
    <title>business-sass</title>
</head>
<body>



<div class="business">
    <ul class="container row">
        <li class="col-lg-20 col-md-20 col-sm-33 col-xs-50"><img class="alibaba" src="../../images/alibaba.png"></li>
        <li class="col-lg-20 col-md-20 col-sm-33 col-xs-50"><img class="kingsoftcloud" src="../../images/kingsoftcloud.png"></li>
        <li class="col-lg-20 col-md-20 col-sm-33 col-xs-50"><img class="huanxin" src="../../images/huanxin.png"></li>
        <li class="col-lg-20 col-md-20 col-sm-33 col-xs-50"><img class="yuntongxun" src="../../images/yuntongxun.png"></li>
        <li class="col-lg-20 col-md-20 col-sm-33 col-xs-50"><img class="yuntongxun" src="../../images/qiniu.png"></li>
    </ul>
</div>


</body>
</html>