<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../sass/components/footer.css">
    <title>footer-sass</title>
</head>
<body>

<footer>
    <div class="container row">
        <div class="col-md-33 col-sm-33 col-xs-100 col-lg-25">
            <ul class="logon-1">
                <li><h4>技能树 — 改变你我</h4></li>
                <li class="empty"></li>
                <li>
                    <span><a href="#">关于我们</a></span>|<span
                ><a href="#">联系我们</a></span>|<span
                ><a href="#">合作企业</a></span>
                </li>
            </ul>
        </div>
        <div class="col-md-33 col-sm-33 col-xs-100 col-lg-25">
            <ul class="business-net">
                <li><h4>旗下网站</h4></li>
                <li>
                    <div class="net-l"><a href="#">草船云孵化器</a></div>
                    <div><a href="#">葡萄藤轻游戏</a></div>
                </li>
                <li>
                    <div class="net-l"><a href="#">最强IT特训营</a></div>
                    <div><a href="#">桌游精灵</a></div>
                </li>
            </ul>
        </div>
        <div class="col-md-33  col-sm-25 col-lg-25 col-lg-offset-25 public-code">
            <h4>微信公众平台</h4>
            <div>
                <img src="../../images/qrcode.png" alt="" class="qrcode">
            </div>
        </div>

    </div>
    <p class="copyright">Copyright © 2015技能树 <a href="www.jnshu.com">www.jnshu.com</a>  All Rights Reserved | 京ICP备13005880号</p>
</footer>

</body>
</html>