<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../sass/components/header.css">
    <title>header</title>
</head>
<body>
<header>
    <div class="container rel">
        <p class="help-tel fl">客服热线：010-594-78634</p>
        <div class="share fr flex-v">
            <a><img src="../../images/wechat.png" class="wechat"></a>
            <a><img src="../../images/qq.png" class="qq"> </a>
            <a><img src="../../images/weibo.png" class="weibo"></a>
        </div>
    </div>
</header>
</body>
</html>