<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../sass/components/slogan.css">
    <title>slogan-sass</title>
</head>
<body>



<div class="container">
    <div class="slogan row">
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100 slogan-box">
            <div class="img-box">
                <img src="../../images/fast.png" alt="" class="fast">
            </div>
            <h4>高效</h4>
            <p>将五到七年的成长时间，缩短到一年到三年。</p>
        </div>
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100 slogan-box">
            <div class="img-box">
                <img src="../../images/rule.png" alt="" class="rule">
            </div>
            <h4>规范</h4>
            <p>标准的实战教程，不会走弯路</p>
        </div>
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100  slogan-box">
            <div class="img-box">
                <img src="../../images/contact.png" alt="" class="contact">
            </div>
            <h4>人脉</h4>
            <p>同班好友，同院学长，技术大师，入学就混入职脉圈，为以后铺平道路。</p>
        </div>
        <div class="col-lg-25  col-md-25 col-sm-50 col-xs-100 line-box">
            <div class="num-box">
                <div class="img-box"></div>
                <div class="study-num">
                    <p class="num"><span     class="user"><img src="../../images/user.png" alt="">  </span>12400</p>
                    <p class="text">累计在线学习人数</p>
                </div>

                <div class="work-num">
                    <p class="num"><span class="user"><img src="../../images/user.png" alt="">  </span>12400</p>
                    <p class="text">学员已经找到满意工作</p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>