<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../sass/components/student-show.css">
    <title>student-show-sass</title>
</head>
<body>

<div class="student-show">
    <div class="container row">
        <div class="person-1 col-lg-25 col-md-25 col-sm-50 col-xs-100">
            <div class="inner">
                <div class="img-box">
                    <img class="photo-1" src="../../images/photo-1.png">
                </div>
                <h4>技术顾问：罗大佑</h4>
                <p>百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设。</p>
            </img>
        </div>
        </div>
        <div class="person-two col-lg-25 col-md-25 col-sm-50 col-xs-100">
            <div class="inner">
                <div class="img-box">
                    <img class="photo-2" src="../../images/photo-2.png">
                </div>
                <h4>技术顾问：罗大佑</h4>
                <p>百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设。</p>
            </div>
        </div>

        <div class="person-threen col-lg-25 col-md-25 col-sm-50 col-xs-100">
            <div class="inner">
                <div class="img-box">
                    <img class="photo-3" src="../../images/photo-3.png">
                </div>
                <h4>技术顾问：罗大佑</h4>
                <p>百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设。</p>

            </div>
        </div>

        <div class="photo-four col-lg-25 col-md-25 col-sm-50 col-xs-100">
            <div class="inner">
                <div class="img-box">
                    <img class="photo-4" src="../../images/photo-4.png">
                </div>
                <h4>技术顾问：罗大佑</h4>
                <p>百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设。</p>
            </div>
        </div>
        <ul>
            <li class="active"><a href="#"></a> </li>
            <li><a href="#"></a> </li>
            <li><a href="#"></a> </li>
            <li><a href="www.xiaomi.com"></a> </li>
        </ul>
    </div>

</div>



</body>
</html>