<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../sass/components/study-path.css">
    <title>study-path-sass</title>
</head>
<body>


<div class="study-path">
    <div class="container row">
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100"><span class="number">1</span><p>匹配你现在的个人情况寻找适合自己的岗位</p><img class="arrow-b" src="../../images/arrow-b.png"></div>
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100"><span class="number">2</span><p>了解职业前景薪金待遇、竞争压力等</p><img class="arrow-b" src="../../images/arrow-b.png"></div>
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100"><span class="number">3</span><p>掌握行业内顶级技能</p><img class="arrow-b" src="../../images/arrow-b.png"></div>
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100"><span class="number">4</span><p>查看职业目标任务</p><img class="arrow-b" src="../../images/arrow-b.png"></div>
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100"><span class="number">5</span><p>参考学习资源，掌握技能点，逐个完成任务</p><img class="arrow-b" src="../../images/arrow-b.png"></div>
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100"><span class="number">6</span><p>加入班级，和小伙伴们互帮互助，一块学习</p><img class="arrow-b" src="../../images/arrow-b.png"></div>
        <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100"><span class="number">7</span><p>选择导师，一路引导，加速自己成长</p><img class="arrow-b" src="../../images/arrow-b.png"></div>
            <div class="col-lg-25 col-md-25 col-sm-50 col-xs-100"><span class="number">8</span><p>完成职业技能，升级业界大牛</p><img class="arrow-b" src="../../images/arrow-b.png"></div>
    </div>
</div>




</body>
</html>