/*reset*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, img,
ol, ul, li, footer, header,menu, nav, audio, video,button {
    margin:0;
    padding:0;
}

html{
    font-size: 625%;
}
button{
    background-color: transparent;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 4px #000;
}

a:active{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
}
/*layout*/
body{
    background-color: #f0f0f0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: .6rem;
    padding: 0 2%;
    background: #29bde0;
}

header button{
    height: .6rem;
}

header img{
    width: .3rem;
}

main{
    padding:.6rem 5% 0 5%;
}

main .pre-game{
    position: relative;
    height: .6rem;
    margin-top: .2rem;
    background-color: #fff;
    font-size: .2rem;
    text-align: center;
    line-height: .6rem;
}

main .pre-game img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: .2rem;
    height: .3rem;
    margin: auto;
}

main .game{
    margin-top: .2rem;
    margin-bottom: .2rem;
    text-align: center;
    background-color: #fff;
}

main .game .ghost-game{
    height: .5rem;
    line-height: .5rem;
    font-size: .2rem;
    color: #fbb435;
    border-bottom: solid 1px #fbb435;
}

main .game .chosen{
    margin: 0 10% 0 10%;
}

main .game .edition{
    display: block;
    width: 100%;
    height: .6rem;
    margin: .1rem 0;
    line-height: .6rem;
    background: #69d1e9;
    font-size: .18rem;
    color: #fff;
}

main .game p{
    font-size: .14rem;
}

main .game-chosen{
    position: relative;
}

main .game-chosen img{
    position: absolute;
    top: 1.15rem;
    right: 2%;
    margin: auto;
    height: .3rem;
}

main .game-chosen ul{
    display: inline-block;
    list-style: none;
}

main ul li{
    display:  inline-block;
    width: .1rem;
    height: .1rem;
    background-color: #f0f0f0;
    border-radius: 50%;
}

main ul li.active{
    background-color: #69d1e9;
}