/*reset*/
body,div,p{
    padding:0;
    margin:0;
}

html{
    font-size: 62.5%;
}


/*layout*/
 body{
     background-color: #6ccdd5;
 }

 .back{
     margin: 3vh;
 }
.main{
    margin:auto;
    width:70%;
    color: #fff;
    font-size:1.8rem;
}

.logo{
    margin: auto;
    text-align: center;
}

.text{
    height: 35vh;
    margin-top:2vh;
}

a{
    text-decoration: none;
    color: #fff;
}

.round1,.round2{
    text-align: center;
}

.round1{
    float: left;
}


.round2{
    float: right;
}

