@charset "UTF-8";
/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button {
  margin: 0;
  padding: 0; }

html {
  font-size: 625%; }
  html body {
    font: .16rem/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

img {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*全局样式*/
.fl {
  float: left; }

.fr {
  float: right; }

.rel {
  position: relative; }

.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absr {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-v {
  display: flex;
  align-items: center; }

.clear {
  overflow: hidden; }

.clear:before,
.clear:after {
  display: block;
  content: '';
  clear: both; }

/*common-verb*/
.container {
  margin: auto; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px; } }
  @media (max-width: 1200px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 768px) {
    .container {
      min-width: 300px;
      margin: 0 20px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1; }
  @media (min-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; }
    .row .col-lg-offset-10 {
      margin-left: 10%; }
    .row .col-lg-offset-20 {
      margin-left: 20%; }
    .row .col-lg-offset-25 {
      margin-left: 25%; }
    .row .col-lg-offset-33 {
      margin-left: 33%; }
    .row .col-lg-offset-50 {
      margin-left: 50%; }
    .row .col-lg-offset-66 {
      margin-left: 66%; }
    .row .col-lg-offset-75 {
      flex: 0 0 75%; }
    .row .col-lg-10 {
      flex: 0 0 10%; }
    .row .col-lg-20 {
      flex: 0 0 20%; }
    .row .col-lg-25 {
      flex: 0 0 25%; }
    .row .col-lg-33 {
      flex: 0 0 33.3%; }
    .row .col-lg-50 {
      flex: 0 0 50%; }
    .row .col-lg-66 {
      flex: 0 0 66.7%; }
    .row .col-lg-75 {
      flex: 0 0 75%; }
    .row .col-lg-100 {
      flex: 0 0 100%; } }
  @media (max-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; } }
  @media (max-width: 992px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; } }
  @media (max-width: 768px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; } }

nav {
  background-color: #29b078;
  overflow: hidden; }
  nav .container .navbar-header {
    float: left;
    height: .8rem; }
    @media (max-width: 768px) {
      nav .container .navbar-header {
        float: none;
        height: .4rem; }
        nav .container .navbar-header button {
          display: flex;
          float: right;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 40px;
          height: 30px;
          padding: 5px; }
          nav .container .navbar-header button:hover {
            background-color: #fff;
            border-radius: 5px; }
          nav .container .navbar-header button .icon-bar {
            width: 20px;
            height: 2px;
            background-color: #000; }
          nav .container .navbar-header button label {
            display: inline-block;
            position: absolute;
            width: 40px;
            height: 100%; }
        nav .container .navbar-header .navbar-brand img {
          height: 70%; } }
  nav .container #ul {
    display: none; }
    nav .container #ul:checked + ul {
      height: 12em;
      transition: height .5s; }
  nav .container ul {
    float: right;
    display: flex;
    align-items: center; }
    nav .container ul li {
      height: .8rem;
      padding: 0 1em;
      color: #fff; }
      nav .container ul li.active, nav .container ul li:hover {
        border-bottom: 4px solid #fff; }
      nav .container ul li a {
        line-height: .8rem;
        color: #fff; }
    @media (max-width: 768px) {
      nav .container ul {
        display: block;
        float: none;
        width: 100%;
        height: 0;
        text-align: center;
        -webkit-transition: height .5s;
        -moz-transition: height .5s;
        -ms-transition: height .5s;
        -o-transition: height .5s;
        transition: height .5s; }
        nav .container ul li {
          float: none;
          display: block;
          max-height: 3em; }
          nav .container ul li:first-child {
            border-top: 1px solid #ccc; }
          nav .container ul li.active, nav .container ul li:hover {
            border-bottom: 2px solid #fff; }
          nav .container ul li a {
            line-height: 3em; } }

/*# sourceMappingURL=nav.css.map/
