@import "components/header";
@import "components/nav";
@import "components/job";
@import "components/footer";



body{
  background-color: #fafafa;
  
  main{
    &:after{
      display: block;
      height: 100px;
      content: '';
    }

    a{
      color: #000;
    }

    .nav-bread{
      border-bottom: 1px solid #ccc;
      a{
        line-height: 5em;
        color: $blue;
        &.index{
          color: #000;
        }

      }
    }

    .direction{
      line-height: 5em;
      font-size: .14rem;
      border-bottom: 1px solid #edf1f2;
      overflow: hidden;

      p{
        float: left;
        color: #999;
      }

      ul{
        float: left;

        li{
          display: inline-block;
          a{
            padding: .2em;
            margin: 0 1em;
            color: #000;

          }
          &:hover,
          &.active{
            a{
              background-color: $blue;
              color: #fff;
            }

          }
        }
      }

      @media (max-width: 768px){
        line-height: 2.5em;
      }
    }

    h4{
      line-height: 5em;
      border-bottom: 1px solid #ccc;
    }

    .row{
      margin: 0 -20px;
      [class^="col-"]{
        .big-box{
          h4{
            border: 0;
          }

        }
      }
    }
  }
}
