<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../sass/components/job.css">
    <title>job-sass</title>
</head>
<body>

<div class="big-box">
    <div class="job-box">
        <div class="tr tr1">
            <img  class="" src="../../images/default-photo.png">
            <div class="text">
                <h4>Web前端工程师</h4>
                <p>Web前端开发工程师，主要职责是
                    利用（X）HTML/CSS/JavaScript/
                    flash等各种Web技术进行产品的开
                    发。
                </p>
            </div>
        </div>
        <div class="tr tr2">
            <div class="td td5 "><span class="title">门槛</span><img src="../../images/star.png" class="star"></div>
            <div class="td td5 tdr"><span class="title">难易程度</span><img src="../../images/star.png" class="star"><img src="../../images/star.png" class="star"></div>
        </div>
        <div class="tr tr3">
            <div class="td td5"><span class="title">成长周期</span><span class="red">1-3</span>年</div>
            <div class="td td5 tdr"><span class="title">稀缺程度</span><span class="red">345</span>家公司需要</div>
        </div>

        <div class="tr tr4">
            <div class="td td4 th3">
                薪资待遇
            </div>

            <div class="td tdr td6">
                <p class="td"><span class="row-l">0-1年</span><span class="row-r">5k-10k/月</span></p>
                <p class="td thc"><span class="row-l">1-3年</span><span class="row-r">10k-20k/月</span></p>
                <p class="td"><span class="row-l">0-1年</span><span class="row-r">20k-50k/月</span></p>
            </div>
        </div>
        <div class="tr tr5">
            <p class="td"><b>有<span class="red">286</span>人正在学</b></p>
        </div>
        <div class="tr tr6">
            <div class="td" colspan=".10">
                提示:在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
            </div>
        </div>
    </div>


    <div class="hide-seek">
        <p class="job-name">iOS工程师</p>
        <p class="job-intro">
            iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
            于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开
            发人才成了国内企业必争的资源。国内  iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
        </p>
    </div>
</div>

</body>
</html>