<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../sass/components/nav.css">
    <title>nav</title>
</head>
<body>

<nav class="navbar">
    <div class="container">
        <div class="navbar-header rel">
            <button class="absr">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <label for="ul"></label>
            </button>
            <a class="navbar-brand" href="http://www.jnshu.com"><img src="../../images/www.jnshu.com.png" class="absl"></a>
        </div>
        <input type="checkbox" id="ul">
        <ul>
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">推荐</a></li>
            <li><a href="job.html">职业</a></li>
            <li><a href="#">关于</a></li>
        </ul>
    </div>
</nav>
</body>
</html>