<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">


    <select ng-model="status" ng-options="y for (x, y) in statuses"></select>{{ status }}

    <select ng-model="type" ng-options="type.value as type.label for type in types"></select>{{ type }}
</div>


<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.status = '';
        $scope.statuses = {
            '': '全部',
            1: '草稿',
            2: '上线'
        };


        $scope.type = '';
        $scope.types = [
            {value: '', label: '全部'},
            {value: 0, label: '首页banner'},
            {value: 1, label: '找职位banner'},
            {value: 2, label: '找精英banner'},
            {value: 3, label: '行业大图'}
        ];

    });



</script>

</body>
</html>
