body{
    max-width: 400px;
    margin: auto;
}
.box{
    overflow: hidden;
}

.box div{
    float: left;
    width: 0;
    height: 0;
    padding: 15%;
    background-color: #fea500;
    margin: 1.65%;
    border-radius: 10%;
}

.buttons{
    overflow: hidden;
}

button{
    display: block;
    float: left;
    width: 46%;
    height: 3em;
    margin: 2%;
    border:0;
    outline: none;
    background-color: #1d7ad9;
    border-radius: 10px;
    font-size: 1.5em;
    color: #fff;
}

button:hover{
    -webkit-box-shadow:  2px 2px 2px #ccc;
    -moz-box-shadow:  2px 2px 2px #ccc;
    box-shadow:  2px 2px 2px #ccc;
    cursor: pointer;
}

button:focus{
    outline: none;
    outline: 0;
}

button:nth-child(1){
    background-color: #29b078;
}


button:nth-child(2){
    background-color: #e15053;
}

