@charset "UTF-8";
/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button {
  margin: 0;
  padding: 0; }

html {
  font-size: 625%; }
  html body {
    font: .32rem/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    letter-spacing: .1em; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block; }

/*common-var*/
/*common样式*/
/*小组件*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-v {
  display: flex;
  align-items: center; }

.absol {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.absol-v {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; }

.text-a {
  text-align: center; }

.rel {
  position: relative; }

.fl {
  float: left; }

.fr {
  float: right; }

/*@media自适应查询*/
@media (max-width: 600px) {
  html {
    font-size: 600%; } }
@media (max-width: 500px) {
  html {
    font-size: 500%; } }
@media (max-width: 550px) {
  html {
    font-size: 550%; } }
@media (max-width: 500px) {
  html {
    font-size: 500%; } }
@media (max-width: 450px) {
  html {
    font-size: 450%; } }
@media (max-width: 400px) {
  html {
    font-size: 400%; } }
@media (max-width: 350px) {
  html {
    font-size: 350%; } }
/*common模块*/
/*限宽*/
header,
main,
footer {
  max-width: 640px;
  min-width: 300px;
  margin: auto; }

/*header样式*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: .8rem;
  text-align: center;
  line-height: .8rem;
  font-size: .34rem;
  color: #fff;
  background-color: #29bde0; }
  header .container {
    position: relative;
    width: 93.7%;
    height: 100%;
    margin: auto; }
    header .container .pl {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
      header .container .pl img {
        width: .38rem; }
    header .container .pr {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto; }
      header .container .pr img {
        width: .38rem;
        height: .38rem; }

/*main样式*/
main {
  margin-top: .8rem; }

main {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: .01rem;
  padding-bottom: .3rem;
  background-color: #f0f0f0;
  box-sizing: border-box; }
  main .head {
    position: relative;
    height: 1.2rem;
    margin: .3rem 0;
    color: #9a9a9a;
    border: 0.01rem solid #9a9a9a;
    background-color: #fff; }
    main .head button {
      right: .16rem; }
      main .head button img {
        width: .24rem; }
  main .body {
    position: relative;
    margin: .3rem 0;
    background-color: #fff;
    border: 0.01rem solid #9a9a9a; }
    main .body .title {
      height: .9rem;
      color: #fbb435;
      border-bottom: 0.01rem solid #fbb435; }
    main .body p {
      font-size: .24rem;
      color: #9a9a9a; }
    main .body .edition1 {
      display: block;
      width: 84%;
      height: 1.3rem;
      margin: .3rem 8%;
      font-size: .32rem;
      color: #fff;
      background-color: #29bde0; }
    main .body .edition2 {
      position: relative;
      line-height: 1.2rem;
      display: block;
      width: 84%;
      height: 1.3rem;
      margin: .3rem 8%;
      font-size: .32rem;
      color: #fff;
      background-color: #29bde0; }
    main .body .edition3 {
      display: block;
      width: 84%;
      height: 1.3rem;
      margin: .3rem 8%;
      font-size: .32rem;
      color: #fff;
      background-color: #29bde0; }
    main .body ul li {
      display: inline-block;
      width: .18rem;
      height: .18rem;
      background-color: #f0f0f0;
      border-radius: 50%; }
    main .body ul .active {
      background-color: #29bde0; }
    main .body button {
      right: -.35rem; }
      main .body button img {
        width: .28rem; }

/*# sourceMappingURL=index.css.map */
