@import "reset";
@import "commom";

@mixin btn-t{
  display: block;
  width: 84%;
  height: 1.3rem;
  margin: .3rem 8%;
  font-size: .32rem;
  color: #fff;
  background-color: $blue;
}

main{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: .01rem;
  padding-bottom: .3rem;
  background-color: $bg-gray;
  box-sizing: border-box;

  .head{
    position: relative;
    height: 1.2rem;
    margin: .3rem 0;
    color: $gray;
    border: .01rem solid $gray;
    background-color: #fff;

    button{
      right: .16rem;

      img{
        width: .24rem;
      }
    }
  }

  .body{
    position: relative;
    margin: .3rem 0;
    background-color: #fff;
    border: .01rem solid $gray;

    .title{
      height: .9rem;
      color: $yellow;
      border-bottom: .01rem solid $yellow;
    }

    p{
      font-size: .24rem;
      color: $gray;
    }

    .edition1{
      @include btn-t;
    }

    .edition2{
      position: relative;
      line-height: 1.2rem;
      @include btn-t;
    }

    .edition3{
      @include btn-t;
    }

    ul{

      li{
        display: inline-block;
        width: .18rem;
        height: .18rem;
        background-color: $bg-gray;
        border-radius: 50%;
      }

      .active{
        background-color: $blue;
      }

    }
    
    button{
      right: -.35rem;

      img{
        width: .28rem;
      }
    }
  }
}


