@charset "UTF-8";
/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button {
  margin: 0;
  padding: 0; }

html {
  font-size: 625%; }
  html body {
    font: .32rem/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    letter-spacing: .1em; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block; }

/*common-var*/
/*common样式*/
/*小组件*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-v {
  display: flex;
  align-items: center; }

.absol {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.absol-v {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; }

.text-a {
  text-align: center; }

.rel {
  position: relative; }

.fl {
  float: left; }

.fr {
  float: right; }

/*@media自适应查询*/
@media (max-width: 600px) {
  html {
    font-size: 600%; } }
@media (max-width: 500px) {
  html {
    font-size: 500%; } }
@media (max-width: 550px) {
  html {
    font-size: 550%; } }
@media (max-width: 500px) {
  html {
    font-size: 500%; } }
@media (max-width: 450px) {
  html {
    font-size: 450%; } }
@media (max-width: 400px) {
  html {
    font-size: 400%; } }
@media (max-width: 350px) {
  html {
    font-size: 350%; } }
/*common模块*/
/*限宽*/
header,
main,
footer {
  max-width: 640px;
  min-width: 300px;
  margin: auto; }

/*header样式*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: .8rem;
  text-align: center;
  line-height: .8rem;
  font-size: .34rem;
  color: #fff;
  background-color: #29bde0; }
  header .container {
    position: relative;
    width: 93.7%;
    height: 100%;
    margin: auto; }
    header .container .pl {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
      header .container .pl img {
        width: .38rem; }
    header .container .pr {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto; }
      header .container .pr img {
        width: .38rem;
        height: .38rem; }

/*main样式*/
main {
  margin-top: .8rem; }

header {
  border-bottom: .01rem solid #74d4eb; }

main {
  margin-bottom: 1.3rem;
  letter-spacing: 0; }
  main .result {
    padding: 0 .77rem;
    background-color: #29bde0; }
    main .result .win-logo {
      width: 3.51rem;
      padding-top: 1em;
      margin: auto; }
    main .result .win-text {
      padding-top: .5em;
      font-weight: 400;
      line-height: 1.3;
      color: #ffc865; }
    main .result .win-detail {
      padding-top: .6rem;
      padding-bottom: .2rem;
      font-size: .24rem;
      color: #fff; }
      main .result .win-detail ul {
        overflow: hidden; }
        main .result .win-detail ul li {
          float: left;
          width: 33.3%; }
  main .game-detail .day {
    padding: 0 .77rem;
    padding-bottom: 1em;
    border-bottom: .01rem solid #ccc; }
    main .game-detail .day .title {
      padding-bottom: .1rem;
      line-height: 1.5; }
      main .game-detail .day .title .the-day {
        font-size: .28rem;
        color: #000; }
      main .game-detail .day .title .time {
        float: right;
        font-size: .18rem;
        color: #c7c7c7;
        line-height: .48rem; }
    main .game-detail .day p {
      font-size: .22rem;
      color: #a6a6a6; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 1.3rem;
  letter-spacing: 0;
  background-color: rgba(153, 223, 240, 0.5); }
  footer .container {
    height: 100%;
    justify-content: space-around; }
    footer .container button {
      display: block;
      width: 40%;
      height: .88rem;
      font-size: .4rem;
      color: #fff;
      border-radius: .1rem; }
    footer .container .btn-l {
      background-color: #f66f6f; }
    footer .container .btn-r {
      background-color: #fbb435; }

/*# sourceMappingURL=result.css.map */
