div div div{
    width: 30%;
    padding-bottom: 30%;
    background-color: #fea500;
    float: left;
    margin:1%;
    border-radius: 5%;
}

.b{
    margin:auto;
    width:96%;
}


.a{
    max-width: 500px;
    margin: auto;
}