<div class="articleAdd" ng-controller="addCtrl">
    <div class="panel panel-default addLists">
        <div class="panel-heading">
            <span class="title">{{ titleContent }}Article</span>
        </div>
        <div class="panel">
            <div class="panel-body forms">

                <form class="form-horizontal" role="form" name="form" id="form-1" novalidate>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group"
                            >
                                <label for="title" class=" col-md-2 control-label"><i class="fa fa-asterisk"
                                                                                      aria-hidden="true"></i>标题名称</label>
                                <div class=" col-md-10 input">
                                    <input type="text"
                                           class="form-control input-md"
                                           id="title"
                                           name="title"
                                           placeholder="请输入标题"
                                           ng-model="title"
                                           required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10 col-md-offset-1">
                            <div class=" form-group select"
                                 ng-class="{'has-success': form.type.$dirty&&form.type.$valid, 'has-error': form.type.$dirty&&form.type.$invalid}">
                                <label class=" col-md-2 control-label" for="type">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i>类型</label>
                                <div class="col-md-5">
                                    <button type="button"
                                            ng-model="type"
                                            name="type"
                                            id="type"
                                            class="btn btn-default btn-block btn-md input-md form-control"
                                            bs-options="type.value as type.label for type in types"
                                            bs-select
                                            placeholder="请选择"
                                            required>
                                        <span class="caret"></span>
                                    </button>
                                </div>

                                <div class="col-md-5">
                                    <button type="button"
                                            ng-model="industry"
                                            name="industry"
                                            id="industry"
                                            ng-change="a()"
                                            ng-show="type==3"
                                            ng-class="{true:'has-success',false:'has-error'}[hasIndustry]"
                                            class="btn btn-default btn-block btn-md input-md form-control"
                                            bs-options="industry.value as industry.label for industry in industries"
                                            bs-select
                                            placeholder="请选择">
                                        <span class="caret"></span>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group "
                                 ng-class="{'has-success': form.content.$dirty&&form.content.$valid, 'has-error': form.content.$dirty&&form.content.$invalid}">
                                <label for="content" class="col-md-2 control-label">说明</label>
                                <div class="col-md-10" name="content" id="content"></div>
                            </div>
                        </div>

                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group"
                                 ng-class="{'has-success': form.url.$dirty&&form.url.$valid, 'has-error': form.url.$dirty&&form.url.$invalid}">
                                <label for="url" class=" col-md-2 control-label">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i>跳转链接</label>
                                <div class=" col-md-10">
                                    <input type="url"
                                           class="form-control input-xs"
                                           id="url"
                                           name="url"
                                           placeholder="请输入链接"
                                           ng-model="url"
                                           required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group" ng-class="{'has-success':(item.isSuccess)}">
                                <label for="img" class=" col-md-2 control-label"><i class="fa fa-asterisk"
                                                                                    aria-hidden="true"></i>图片</label>
                                <div class="col-md-10">
                                    <label for="img" class='btn btn-primary btn-sm imgSel'>选择图片</label>
                                    <input id="img" name="file" type="file" class="form-control input-xs"
                                           accept="image/gif,image/jpeg,image/jpg,image/png" nv-file-select
                                           uploader="uploader"/>
                                    <img ng-src="{{ imgLoad}}" alt="配图预览" class='imgPre img-responsive' required>
                                    <div class="table-responsive">

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>图片名</th>
                                                <th>文件大小</th>
                                                <th>进度</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="imgName" ng-repeat="item in uploader.queue">
                                                <td><strong>{{ item.file.name }}</strong></td>
                                                <td ng-show="uploader.isHTML5" nowrap>{{
                                                    item.file.size/1024/1024|number:2
                                                    }} MB
                                                </td>
                                                <td ng-show="uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar" role="progressbar"
                                                             ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                <span ng-show="item.isSuccess"><i
                                                        class="glyphicon glyphicon-ok"></i></span>
                                                    <span ng-show="item.isCancel"><i
                                                            class="glyphicon glyphicon-ban-circle"></i></span>
                                                    <span ng-show="item.isError"><i
                                                            class="glyphicon glyphicon-remove"></i></span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button"
                                                            class="btn btn-success btn-xs"
                                                            ng-click="item.upload()"
                                                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span> 上传
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs"
                                                            ng-click="item.remove();delete() ">
                                                        <span class="glyphicon glyphicon-trash"></span> 删除
                                                    </button>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-1 status">

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-success btn-sm" type="submit" ng-click="onLineNow()"
                                            ng-disabled="(form.$invalid||!imgLoad)||((type==3)&&(!hasIndustry))">立即上线
                                    </button>
                                    <button class="btn btn-info btn-sm" ng-click="draftSave()"
                                            ng-disabled="(form.$invalid||!imgLoad)||((type==3)&&(!hasIndustry))">存为草稿
                                    </button>

                                    <button class="btn btn-default btn-sm pull-right" ng-click="goBack()">取消</button>
                                </div>
                            </div>


                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


