@import "reset";
@import "common";


header{
  border-bottom: .01rem solid #74d4eb;
}

main{
  background-color: $blue;
  padding-bottom: 1.5rem;
  overflow: hidden;

  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    width: 4.6rem;
    height: 6.5rem;
    margin: .85rem auto 1.2rem auto;
    border: .07rem solid #fff;
    background-color: #ffedc5;
    font-size: .4rem;

    .number1{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      width: .75rem;
      height: .75rem;
      margin: auto;
      margin-top: -.37rem;
      border: .04rem solid #ffedc5;
      background-color: #fff;
      border-radius: 50%;
      color: #f56b81;
    }

    #page1{
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      width: 3rem;
      height: 3rem;
    }

    #page2{
      display: none;
      width: 100%;
      height: 100%;

      img{
        width: 2.22rem;
        height: 2.22rem;
        margin: 1.5em auto .5em auto ;
      }

      .p1{
        color: $blue;
        text-align: center;
      }

      .p2{
        color: #f56b81;
        text-align: center;
      }

      .line{
        display: block;
        width: 100%;
        height: .03rem;
        background-color: #fff;
        margin: .5em 0;
      }

      .p3{
        padding: 0 1em;
        color: #fca000;
        font-size: .26rem;
      }
    }

  }

  .foot{
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    background-color: $blue;
    border-top: 1px solid #b9e9f5;

    button{
      display: block;
      width: 4.9rem;
      height: .9rem;
      margin: .6rem auto .6rem auto;
      background-color: $yellow;
      font-size: .48rem;
      color: #fff;
    }
  }
}
