@charset "UTF-8";
/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 625%; }
  html body {
    font: .32rem/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    letter-spacing: .1em; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block; }

input {
  appearance: button;
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  border: 0; }

/*全局变量*/
/*基础样式*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-v {
  display: flex;
  align-items: center; }

.absol {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absol-v {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: auto; }

.text-a {
  text-align: center; }

.rel {
  position: relative; }

.fl {
  float: left; }

.fr {
  float: right; }

/*@media自适应查询*/
@media (max-width: 600px) {
  html {
    font-size: 600%; } }
@media (max-width: 500px) {
  html {
    font-size: 500%; } }
@media (max-width: 550px) {
  html {
    font-size: 550%; } }
@media (max-width: 500px) {
  html {
    font-size: 500%; } }
@media (max-width: 450px) {
  html {
    font-size: 450%; } }
@media (max-width: 400px) {
  html {
    font-size: 400%; } }
@media (max-width: 350px) {
  html {
    font-size: 350%; } }
/*限宽*/
body, header, footer {
  max-width: 640px;
  margin: auto;
  min-width: 300px; }

/*header组件*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: .8rem;
  text-align: center;
  line-height: .8rem;
  font-size: .34rem;
  color: #fff;
  background-color: #29bde0; }
  header .container {
    position: relative;
    width: 93.7%;
    height: 100%;
    margin: auto; }
    header .container .pl {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
      header .container .pl img {
        max-width: .38rem;
        max-height: .38rem; }
    header .container .pr {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto; }
      header .container .pr img {
        width: .38rem;
        height: .38rem; }

/*main组件*/
main {
  padding-top: .8rem; }
  main .container {
    width: 93.7%;
    margin: auto; }

footer .container {
  width: 93.7%;
  margin: auto; }

header .container span {
  text-align: center; }

main {
  min-height: 100vh;
  padding-bottom: 1.9rem;
  background-color: #29bde0;
  overflow: hidden; }
  main .title {
    padding: .5em 10% .5em 5%;
    font-size: .26rem;
    color: #000;
    background-color: #b9e9f5; }
    main .title button {
      right: 3%; }
      main .title button .play {
        width: .52rem; }
  main .tri {
    display: block;
    width: 0;
    height: 0;
    margin-left: 10%;
    border-top: .2rem solid #b9e9f5;
    border-left: solid .1rem transparent;
    border-right: solid .1rem transparent; }
  main p {
    font-size: .24rem;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    color: #fff; }
  main .big-box {
    position: relative;
    float: left;
    width: 33.333%;
    height: 33.333vw;
    max-width: 213.1px;
    max-height: 213.1px;
    min-width: 100px;
    min-height: 100px;
    /*
    &:hover .action-box {
      opacity: 1;
    }
    */ }
    main .big-box .character-box {
      width: 22.3vw;
      height: 22.3vw;
      max-width: 142.7px;
      max-height: 142.7px;
      min-width: 67px;
      min-height: 67px;
      margin: auto;
      border: .04rem solid #fff; }
    main .big-box .character {
      height: 75%;
      background-color: #f5c97b;
      font-size: .3rem;
      color: #565656; }
    main .big-box .number {
      position: relative;
      z-index: 2;
      height: 25%;
      background-color: #83b09a;
      background-color: rgba(63, 167, 200, 0.5);
      font-size: .23rem;
      color: #fff; }
    main .big-box .action-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 22.3vw;
      height: 11vw;
      max-width: 142.7px;
      max-height: 70.4px;
      min-width: 67px;
      min-height: 33px;
      margin: auto; }
      main .big-box .action-box span {
        line-height: 0;
        width: 22%;
        margin: auto;
        cursor: pointer; }
        main .big-box .action-box span img {
          width: 100%; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: 1.9rem;
  background-color: #29bde0;
  border-top: 1px solid #fff; }
  footer button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4.9rem;
    height: .9rem;
    margin: auto;
    font-size: .4rem;
    color: #fff;
    background-color: #fbb435; }
    footer button span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      line-height: .9rem; }

.toggle1 {
  display: none; }

/*# sourceMappingURL=chose.css.map */
