@import "reset";
@import "common";


header{
  border-bottom: .01rem solid #74d4eb;
}

main{
  background-color: $blue;
  text-align: center;

  .main1{
    position: relative;
    padding-bottom: 2em;
    border-bottom: 1px solid #87daee;
    align-items: center;
    color: #fff;
    font-size: .28rem;
    overflow: hidden;

    .sound{
      position: absolute;
      top: 1em;
      right: 1em;
      width: .65rem;
      height: .65rem;
    }

    .killed2{
      width: 2.58rem;
      height: 2.58rem;
      margin: 2em auto;
    }
  }

  .main2{
    margin-top: 1em;
    font-size: .34rem;
    color: #fff;

    p{
      line-height: .6rem;
      background-color: #24a7c6;
      border-radius: .1rem;
      width: 80%;
      margin: auto auto;
    }

    img{
      width: 1.13rem;
      height: .64rem;
      margin: 0  auto .5em auto;
    }

    button{
      width: 85%;
      height: .9rem;
      margin-bottom: 1.5em;
      font-size: .4rem;
      color: #fff;
      background-color: $yellow;

    }
  }
}