/*
Error: Invalid GBK character "\xE7"
        on line 202 of setting.scss

197:           outline: none;
198:           height: .04rem;
199:           width: 100%;
200:           border: none;
201: 
202:           /*用渐变的纯色来代替背景图片，再设置一个背景颜色*\/
203:           background: #ffe6be radial-gradient(#fcc671,#fcc671) left center no-repeat;
204:           margin: 0;
205: 
206:           &::-webkit-slider-thumb {
207:             -webkit-appearance: none;

Backtrace:
setting.scss:202
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/util.rb:1325:in `rescue in block in find_encoding_error'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/util.rb:1322:in `block in find_encoding_error'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `each'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `each_with_index'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/util.rb:1321:in `find_encoding_error'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/util.rb:930:in `check_sass_encoding'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:436:in `check_encoding!'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:392:in `_to_tree'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.24/bin/scss:13:in `<top (required)>'
C:/Ruby23/bin/scss:22:in `load'
C:/Ruby23/bin/scss:22:in `<main>'
*/
body:before {
	white-space: pre;
	font-family: monospace;
	content: "Error: Invalid GBK character \"\xE7\"\A         on line 202 of setting.scss\A \A 197:           outline: none;\A 198:           height: .04rem;\A 199:           width: 100%;\A 200:           border: none;\A 201: \A 202:           /*用渐变的纯色来代替背景图片，再设置一个背景颜色*/\A 203:           background: #ffe6be radial-gradient(#fcc671,#fcc671) left center no-repeat;\A 204:           margin: 0;\A 205: \A 206:           &::-webkit-slider-thumb {\A 207:             -webkit-appearance: none;";
}
