/*reset*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option {
  margin:0;
  padding:0;
}


button{
  border: 0;
  outline: none;
  background: transparent;
}

input{
  outline: none;
  border: 0;
}


a{
  text-decoration: none;
}

a:hover,
a:focus{
  text-decoration: none;
  outline: none;
}


/*layout*/
::-webkit-input-placeholder{
  color: #e1e5e7;
}

$blue:#5fc0cd;
$gray:#eff0f4;

@mixin fa{
  display: flex;
  align-items: center;
}

button{
  font-size: .15rem;
}

button:hover{
  color: darken(#fff,70%);
}

html{
  font-size: 625%;
  body{
    font:.16rem/1.5 "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    background-color: #eff0f4;
    max-width: 640px;
    margin: auto;

    header{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: $blue;
      overflow: hidden;

      .container{
        color: #fff;
        text-align: center;
        font-size: .2rem;
        line-height: .5rem;
      }

      p{
        display: inline-block;
      }

      .shut-up{
        float: left;
      }

      .sign-up{
        float: right;
      }
    }

    main{
      .tel-input {
        background-color: #fff;
        .container{
          @include fa;
          margin-top: .6rem;
          margin-bottom: .1rem;

          .iphone {
            height: .3rem;
            margin: 0 .1rem;
          }

          input[type="text"] {
            float: right;
            width: calc(100% - 75px);
            height: .5rem;
          }
        }
      }

      .psw-input{
        background-color: #fff;

        .container{
          @include fa;
          margin: .1rem auto;

          .locked{
            height: .3rem;
            margin: 0 .1rem;
          }

          input[type="password"]{
            float: right;
            width: calc(100% - 75px);
            height: .5rem;
          }
        }
      }
      .sign-in-btn{
        width: 100%;
        height: .5rem;
        background-color: $blue;
        font-size: .2rem;
        color: #fff;
        text-align: center;

        &:hover{
          color: darken(#fff,70%);
        }
      }

      .help{
        float: right;
        font-size: .15rem;
        color: $blue;
      }
    }
  }
}

.container,
header,
main{
  max-width: 640px;
  margin: auto;
}