
.articleList {
  .forms {
	.form-group.select {
	  button {
		position: relative;
		text-align: left;
		padding: 0 1em;
		.caret {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  right: 1em;
		  margin: auto;
		}
	  }
	}

	.form-group {

	  label {
		height: 1em;
		font-size: .14rem;
		text-align-last: justify;
		-moz-text-align-last: justify;
		-ms-text-align-last: justify;
	  }
	}

	.date-and {
	  text-align-last: auto !important;
	  -moz-text-align-last: auto;
	  -ms-text-align-last: auto;
	  text-align: center;
	}

  }
  .search-btns {
	text-align: right;
  }

  .dataLists {

	.panel-heading {
	  position: relative;
	  overflow: hidden;

	  .title {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 1em;
		line-height: 1em;
		font-weight: bold;
	  }

	  .edit-btns {
		button {
		  margin: 0 .5em;
		}
	  }
	}

	.panel-body {
	  .noData {
		text-align: center !important;
		font-size: 2em;
		padding: .5em 0;
	  }

	  table {
		font-size: .14rem;
		border: 1px solid #eeeeee;

		th, td {
		  text-align: center;
		  vertical-align: middle;
		  min-width: 3em
		}

		.operate {
		  min-width: 1.6rem;
		}
	  }
	}
  }

  .pageNav {
	float: right;

	.pageForm {
	  display: inline-block;

	  span {
		line-height: 0;
		vertical-align: middle;
	  }
	  .size,
	  .page {
		display: inline-block;
		width: 3em;
		text-align: center;
		padding-left: .01rem;
		padding-right: .01rem;
	  }
	}

	.pageIndexes {
	  display: inline-block;

	  .pageIndex {
		margin: 0 .2em;
	  }
	}
  }
}


