/*reset*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, img,
ol, ul, li, footer, header,menu, nav, audio, video,button {
    margin:0;
    padding:0;
}

html{
    font-size: 625%;
}

button{
    border: 0;
    outline: none;
    background: transparent;
}

ul{
    list-style: none;
}

a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 4px #000;
    color: #fff;
}

a:active{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
}

/*layout*/
body{
    background-color: #29bde0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: .6rem;
    padding: 0 2%;
    background: #29bde0;
    text-align: center;
    font-size: .25rem;
    line-height: .6rem;
    vertical-align: middle;
    color: #fff;
}

header button{
    height: .6rem;
}

header img{
    width: .3rem;
}

header .home{
    float: left;
}

header .more{
    float: right;
}
main{
    margin: .6rem 0;
    background-color: #29bde0;
}

main .result{
    padding: .2rem 0;
    padding: 0 10%;
}
main .result img{
    display: block;
    margin: 0 auto;
    max-width: 70%;
}

main .result span{
    color: #ffc865;
    font-weight: bold;
    font-size: .18rem;
}

main .count{
    color: #fff;
    line-height: .22rem;
    padding: 0 10%;
    padding-bottom: .2rem;
}

main .count div{
    width: 100%;
}
.count div span{
    display: inline-block;
    width: 32%;
}

main .key-word{
    font-weight: bold;
}

main .detail{
    background-color: #fff;
}

main .detail li{
    padding: .1rem 10%;
    border-bottom: solid 1px #ddd;
}

main .detail p{
    font-size: .16rem;
    color: #bfbfbf;
}

main .detail p.day{
    position: relative;
    font-size: .2rem;
    color: #000;
}

main .detail p span{
    position: absolute;
    top: 0;
    bottom: o;
    right: 0;
    margin: auto;
    font-size: .14rem;
    color: #c7c7c7;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: .6rem;
    background-color: rgba(153,223,240,.5);
}

footer a{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 45%;
    height: .4rem;
    border-radius: .1rem;
    color: #fff;
    font-size: .2rem;
    text-align: center;
    line-height: .4rem;
}

footer .btn-l{
    left: 3%;
    background-color: #f66f6f;
}

footer .btn-r{
    right: 3%;
    background-color: #fbb435;
}
