@charset "UTF-8";
/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button {
  margin: 0;
  padding: 0; }

html {
  font-size: 625%; }
  html body {
    font: .14rem/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif; }
    html body h4 {
      font-size: .16rem; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

img {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*全局样式*/
.fl {
  float: left; }

.fr {
  float: right; }

.rel {
  position: relative; }

.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absr {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-v {
  display: flex;
  align-items: center; }

.clear {
  overflow: hidden; }

.clear:before,
.clear:after {
  display: block;
  content: '';
  clear: both; }

/*common-verb*/
.container {
  margin: auto; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px; } }
  @media (max-width: 1200px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 768px) {
    .container {
      min-width: 300px;
      margin: 0 20px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1; }
  @media (min-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; }
    .row .col-lg-offset-10 {
      margin-left: 10%; }
    .row .col-lg-offset-20 {
      margin-left: 20%; }
    .row .col-lg-offset-25 {
      margin-left: 25%; }
    .row .col-lg-offset-33 {
      margin-left: 33%; }
    .row .col-lg-offset-50 {
      margin-left: 50%; }
    .row .col-lg-offset-66 {
      margin-left: 66%; }
    .row .col-lg-offset-75 {
      flex: 0 0 75%; }
    .row .col-lg-10 {
      flex: 0 0 10%; }
    .row .col-lg-20 {
      flex: 0 0 20%; }
    .row .col-lg-25 {
      flex: 0 0 25%; }
    .row .col-lg-33 {
      flex: 0 0 33.3%; }
    .row .col-lg-50 {
      flex: 0 0 50%; }
    .row .col-lg-66 {
      flex: 0 0 66.7%; }
    .row .col-lg-75 {
      flex: 0 0 75%; }
    .row .col-lg-100 {
      flex: 0 0 100%; } }
  @media (max-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; } }
  @media (max-width: 992px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; } }
  @media (max-width: 768px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; } }

header {
  height: .4rem;
  color: #29b078;
  line-height: .4rem;
  background-color: #fff;
  overflow: hidden; }
  header .container .share {
    height: .4rem; }
    header .container .share a {
      margin-left: .1rem; }

/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button {
  margin: 0;
  padding: 0; }

html {
  font-size: 625%; }
  html body {
    font: .14rem/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif; }
    html body h4 {
      font-size: .16rem; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

img {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*全局样式*/
.fl {
  float: left; }

.fr {
  float: right; }

.rel {
  position: relative; }

.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absr {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-v {
  display: flex;
  align-items: center; }

.clear {
  overflow: hidden; }

.clear:before,
.clear:after {
  display: block;
  content: '';
  clear: both; }

/*common-verb*/
.container {
  margin: auto; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px; } }
  @media (max-width: 1200px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 768px) {
    .container {
      min-width: 300px;
      margin: 0 20px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1; }
  @media (min-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; }
    .row .col-lg-offset-10 {
      margin-left: 10%; }
    .row .col-lg-offset-20 {
      margin-left: 20%; }
    .row .col-lg-offset-25 {
      margin-left: 25%; }
    .row .col-lg-offset-33 {
      margin-left: 33%; }
    .row .col-lg-offset-50 {
      margin-left: 50%; }
    .row .col-lg-offset-66 {
      margin-left: 66%; }
    .row .col-lg-offset-75 {
      flex: 0 0 75%; }
    .row .col-lg-10 {
      flex: 0 0 10%; }
    .row .col-lg-20 {
      flex: 0 0 20%; }
    .row .col-lg-25 {
      flex: 0 0 25%; }
    .row .col-lg-33 {
      flex: 0 0 33.3%; }
    .row .col-lg-50 {
      flex: 0 0 50%; }
    .row .col-lg-66 {
      flex: 0 0 66.7%; }
    .row .col-lg-75 {
      flex: 0 0 75%; }
    .row .col-lg-100 {
      flex: 0 0 100%; } }
  @media (max-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; } }
  @media (max-width: 992px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; } }
  @media (max-width: 768px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; } }

nav {
  background-color: #29b078;
  overflow: hidden; }
  nav .container .navbar-header {
    float: left;
    height: .8rem; }
    @media (max-width: 768px) {
      nav .container .navbar-header {
        float: none;
        height: .4rem; }
        nav .container .navbar-header button {
          display: flex;
          float: right;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 40px;
          height: 30px;
          padding: 5px; }
          nav .container .navbar-header button:hover {
            background-color: #fff;
            border-radius: 5px; }
          nav .container .navbar-header button .icon-bar {
            width: 20px;
            height: 2px;
            background-color: #000; }
          nav .container .navbar-header button label {
            display: inline-block;
            position: absolute;
            width: 40px;
            height: 100%; }
        nav .container .navbar-header .navbar-brand img {
          height: 70%; } }
  nav .container #ul {
    display: none; }
    nav .container #ul:checked + ul {
      height: 12em;
      transition: height .5s; }
  nav .container ul {
    float: right;
    display: flex;
    align-items: center; }
    nav .container ul li {
      height: .8rem;
      padding: 0 1em;
      color: #fff; }
      nav .container ul li.active, nav .container ul li:hover {
        border-bottom: 4px solid #fff; }
      nav .container ul li a {
        line-height: .8rem;
        color: #fff; }
    @media (max-width: 768px) {
      nav .container ul {
        display: block;
        float: none;
        width: 100%;
        height: 0;
        text-align: center;
        -webkit-transition: height .5s;
        -moz-transition: height .5s;
        -ms-transition: height .5s;
        -o-transition: height .5s;
        transition: height .5s; }
        nav .container ul li {
          float: none;
          display: block;
          max-height: 3em; }
          nav .container ul li:first-child {
            border-top: 1px solid #ccc; }
          nav .container ul li.active, nav .container ul li:hover {
            border-bottom: 2px solid #fff; }
          nav .container ul li a {
            line-height: 3em; } }

/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button {
  margin: 0;
  padding: 0; }

html {
  font-size: 625%; }
  html body {
    font: .14rem/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif; }
    html body h4 {
      font-size: .16rem; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

img {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*全局样式*/
.fl {
  float: left; }

.fr {
  float: right; }

.rel {
  position: relative; }

.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absr {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-v {
  display: flex;
  align-items: center; }

.clear {
  overflow: hidden; }

.clear:before,
.clear:after {
  display: block;
  content: '';
  clear: both; }

/*common-verb*/
.container {
  margin: auto; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px; } }
  @media (max-width: 1200px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 768px) {
    .container {
      min-width: 300px;
      margin: 0 20px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1; }
  @media (min-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; }
    .row .col-lg-offset-10 {
      margin-left: 10%; }
    .row .col-lg-offset-20 {
      margin-left: 20%; }
    .row .col-lg-offset-25 {
      margin-left: 25%; }
    .row .col-lg-offset-33 {
      margin-left: 33%; }
    .row .col-lg-offset-50 {
      margin-left: 50%; }
    .row .col-lg-offset-66 {
      margin-left: 66%; }
    .row .col-lg-offset-75 {
      flex: 0 0 75%; }
    .row .col-lg-10 {
      flex: 0 0 10%; }
    .row .col-lg-20 {
      flex: 0 0 20%; }
    .row .col-lg-25 {
      flex: 0 0 25%; }
    .row .col-lg-33 {
      flex: 0 0 33.3%; }
    .row .col-lg-50 {
      flex: 0 0 50%; }
    .row .col-lg-66 {
      flex: 0 0 66.7%; }
    .row .col-lg-75 {
      flex: 0 0 75%; }
    .row .col-lg-100 {
      flex: 0 0 100%; } }
  @media (max-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; } }
  @media (max-width: 992px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; } }
  @media (max-width: 768px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; } }

footer {
  padding-top: 40px;
  background-color: #29b078;
  color: #fff; }
  footer h4 {
    font-weight: normal; }
  footer a:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: .2em;
    color: #fff;
    text-decoration: none; }
  footer a:active {
    color: #000; }
  footer p {
    color: #fff; }
  footer li {
    height: .4rem; }
    footer li div {
      display: inline;
      height: 100%;
      width: 40%; }
      footer li div:first-child {
        margin-right: 10%; }
  footer .copyright {
    border-top: 1px solid #fff;
    text-align: center;
    line-height: 2; }
  footer .public-code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer .public-code .qrcode {
      margin: 10px; }

body {
  background-color: #fafafa; }
  body main a {
    color: #29b078; }
    body main a.active, body main a:hover {
      color: #f9a372; }
      body main a.active span, body main a:hover span {
        background-color: #ff7527; }
  body main .nav-bread {
    line-height: 3em; }
    body main .nav-bread .index {
      color: #000; }
  body main .article .box-l {
    margin: 0 1em 1em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
    background-color: #fff; }
    @media (max-width: 768px) {
      body main .article .box-l {
        margin-right: 0; } }
    body main .article .box-l h4 {
      line-height: 6em;
      text-align: center; }
    body main .article .box-l ul {
      border-top: 1px solid #ccc;
      font-size: .14rem; }
      body main .article .box-l ul li {
        margin: 1.5em auto;
        width: 6em; }
        body main .article .box-l ul li span {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: 0 7px;
          border: 1px solid #ff7527;
          border-radius: 50%; }
  body main .article .box-r {
    margin: 0 0 10em 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
    color: #999;
    font-size: .14rem;
    line-height: 2em;
    background-color: #fff; }
    @media (max-width: 768px) {
      body main .article .box-r {
        margin-left: 0; } }
    body main .article .box-r .introduct {
      border-bottom: 1px solid #ccc;
      overflow: hidden; }
      body main .article .box-r .introduct P {
        margin: 2em; }
      body main .article .box-r .introduct img {
        float: left;
        padding: 2em 2em 1em 4em; }
    body main .article .box-r .main-article p {
      margin: 2em;
      text-indent: 2em; }

/*# sourceMappingURL=page2.css.map */
