@import "reset";
@import "common";

header{
  .container{
    span{
      text-align: center;
    }
  }
}

main {
  min-height: 100vh;
  padding-bottom: 1.9rem;
  background-color: $blue;
  overflow: hidden;

  .title {
    padding: .5em 10% .5em 5%;
    font-size: .26rem;
    color: #000;
    background-color: #b9e9f5;

    button {
      right: 3%;

      .play {
        width: .52rem;
      }
    }
  }

  .tri {
    display: block;
    width: 0;
    height: 0;
    margin-left: 10%;
    border-top: .2rem solid #b9e9f5;
    border-left: solid .1rem transparent;
    border-right: solid .1rem transparent;
  }

  p {
    font-size: .24rem;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    color: #fff;
  }

  .big-box {
    position: relative;
    float: left;
    width: 33.333%;
    height: 33.333vw;
    max-width: 213.1px;
    max-height: 213.1px;
    min-width: 100px;
    min-height: 100px;

    /*
    &:hover .action-box {
      opacity: 1;
    }
    */

    .character-box {
      width: 22.3vw;
      height: 22.3vw;
      max-width: 142.7px;
      max-height: 142.7px;
      min-width: 67px;
      min-height: 67px;
      margin: auto;
      border: .04rem solid #fff;

    }

    .character {
      height: 75%;
      background-color: #f5c97b;
      font-size: .3rem;
      color: #565656;
    }

    .number {
      position: relative;
      z-index: 2;
      height: 25%;
      background-color: #83b09a;
      //background-color: #55a4c8;
      background-color: rgba(63, 167, 200, 0.5);
      font-size: .23rem;
      color: #fff;
    }

    .action-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 22.3vw;
      height: 11vw;
      max-width: 142.7px;
      max-height: 70.4px;
      min-width: 67px;
      min-height: 33px;
      margin: auto;

      //opacity: 0;


      span{
        line-height: 0;
        width: 22%;
        margin: auto;
        cursor: pointer;

        img {
          width: 100%;
        }
      }
    }
  }
}





footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: 1.9rem;
  background-color: $blue;
  border-top: 1px solid #fff;

  button{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4.9rem;
    height: .9rem;
    margin: auto;
    font-size: .4rem;
    color: #fff;
    background-color: $yellow;

    span{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      line-height: .9rem;
    }
  }
}


.toggle1{
  display: none;
}

