@import "reset";
@import "common";


header{
  border-bottom: .01rem solid #74d4eb;
}

main{
  //padding-top: 1.5rem;
  padding-bottom: 1.9rem;
  background-color: $blue;
  min-height: 100vh;
  overflow: hidden;

  .big-box{
    position: relative;
    float: left;
    width: 33.333%;
    height: 33.333vw;
    max-width: 213.1px;
    max-height: 213.1px;
    min-width: 100px;
    min-height: 100px;


    .character-box{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 22.3vw;
      height: 22.3vw;
      max-width: 142.7px;
      max-height: 142.7px;
      min-width: 67px;
      min-height: 67px;
      margin: auto;
      border: .04rem solid #fff;

      &:hover{
        .cover{
          display:none;

        }

      }




      .character{
        height: 75%;
        background-color: #f5c97b;
        font-size: .3rem;
        color: #565656;
      }

      .number {
        position: relative;
        z-index: 2;
        height: 25%;
        background-color: #83b09a;
        //background-color: #55a4c8;
        background-color: rgba(63,167,200,0.5);
        font-size: .23rem;
        color: #fff;
      }

      .cover{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;


      }
    }
  }
}


footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: 1.9rem;
  background-color: $blue;
  border-top: .03rem solid #fff;


  button{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4.9rem;
    height: .9rem;
    margin: auto;
    font-size: .4rem;
    color: #fff;
    background-color: $yellow;
  }
}

