@charset "UTF-8";
/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 625%; }
  html body {
    font: .32rem/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    letter-spacing: .1em; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block; }

input {
  appearance: button;
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: none;
  border-radius: 0; }

/*全局变量*/
/*基础样式*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-v {
  display: flex;
  align-items: center; }

.absol {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absol-v {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: auto; }

.text-a {
  text-align: center; }

.rel {
  position: relative; }

.fl {
  float: left; }

.fr {
  float: right; }

/*@media自适应查询*/
@media (max-width: 600px) {
  html {
    font-size: 600%; } }
@media (max-width: 500px) {
  html {
    font-size: 500%; } }
@media (max-width: 550px) {
  html {
    font-size: 550%; } }
@media (max-width: 500px) {
  html {
    font-size: 500%; } }
@media (max-width: 450px) {
  html {
    font-size: 450%; } }
@media (max-width: 400px) {
  html {
    font-size: 400%; } }
@media (max-width: 350px) {
  html {
    font-size: 350%; } }
/*限宽*/
body, header, footer {
  max-width: 640px;
  margin: auto;
  min-width: 300px; }

/*header组件*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: .8rem;
  text-align: center;
  line-height: .8rem;
  font-size: .34rem;
  color: #fff;
  background-color: #29bde0; }
  header .container {
    position: relative;
    width: 93.7%;
    height: 100%;
    margin: auto; }
    header .container .pl {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
      header .container .pl img {
        max-width: .38rem;
        max-height: .38rem; }
    header .container .pr {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto; }
      header .container .pr img {
        width: .38rem;
        height: .38rem; }

/*main组件*/
main {
  padding-top: 0.8rem !important; }
  main .container {
    width: 93.7%;
    margin: auto; }

footer .container {
  width: 93.7%;
  margin: auto; }

main {
  background-color: #f0f0f0;
  overflow: hidden; }
  main .main1 {
    height: 4.5rem;
    margin: .2rem 0;
    overflow: hidden; }
    main .main1 .fl {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.2rem;
      height: 100%;
      border-right: 1px solid #d9d9d9;
      background-color: #fff; }
      main .main1 .fl p {
        width: 1em;
        word-break: break-all;
        font-size: .36rem; }
    main .main1 .right {
      position: relative;
      height: 100%;
      margin-left: 1.2rem;
      background-color: #fbfbfb; }
      main .main1 .right .row1 {
        padding: 1em 0;
        height: calc(100% - .6rem);
        font-size: .26rem;
        color: #9a9a9a;
        overflow: auto;
        letter-spacing: .3em; }
        main .main1 .right .row1 .character {
          display: flex;
          align-items: center;
          justify-content: center;
          float: left;
          width: 50%;
          line-height: 2.7em; }
          main .main1 .right .row1 .character .mark {
            display: inline-block;
            width: .15rem;
            height: .15rem;
            margin-right: 1em; }
        main .main1 .right .row1 .killer .mark {
          background-color: #fbb435; }
        main .main1 .right .row1 .doctor .mark {
          background-color: #29bde0; }
      main .main1 .right .row2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: .6rem;
        border-top: 1px solid #d9d9d9;
        color: #29bde0;
        text-align: center;
        font-size: .28rem; }
        main .main1 .right .row2 span {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          line-height: .6rem;
          display: inline-block;
          margin: auto; }
          main .main1 .right .row2 span img {
            display: inline-block;
            width: .14rem;
            margin: 0 .5em; }
  main .main2 {
    padding: 0 1em;
    margin: .2rem 0;
    background-color: #fff;
    font-size: .28rem; }
    main .main2 input {
      width: 100%;
      margin: .5em 0;
      outline: none;
      outline: 0;
      line-height: 2em;
      font-size: .28rem;
      background: none;
      border: 0;
      border-bottom: 1px solid #d7d7d7; }
      main .main2 input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #d7d7d7; }
      main .main2 input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #d7d7d7; }
      main .main2 input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #d7d7d7; }
      main .main2 input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #d7d7d7; }
  main .main3 {
    padding: 0 1em;
    font-size: .28rem;
    line-height: 3em;
    background-color: #fff; }
    main .main3 .row1 {
      display: flex;
      align-items: center; }
      main .main3 .row1 input {
        border: 0;
        outline: none;
        display: flex;
        justify-content: center;
        width: 2em;
        height: 1.2em;
        line-height: 1em;
        text-align: center;
        margin: 0 .5em;
        font-size: .34rem;
        color: #fbb435;
        background-color: #f0f0f0; }
    main .main3 .row2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3em; }
      main .main3 .row2 img {
        margin: 0 .2rem;
        width: .28rem;
        height: .28rem; }
        main .main3 .row2 img:hover {
          cursor: pointer; }
      main .main3 .row2 div {
        display: flex;
        align-items: center;
        width: 100%; }
        main .main3 .row2 div input[type="range"] {
          -webkit-appearance: none;
          outline: none;
          height: .04rem;
          width: 100%;
          background-color: #fbb435; }
          main .main3 .row2 div input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-image: url(../images/slider.png);
            background-size: .6rem .36rem;
            width: .6rem;
            height: .36rem; }
          main .main3 .row2 div input[type="range"]::-moz-range-thumb {
            -webkit-appearance: none;
            background-image: url(../images/slider.png);
            background-size: .6rem .36rem;
            width: .6rem;
            height: .36rem;
            border: 0; }
          main .main3 .row2 div input[type="range"]::-moz-range-track {
            -webkit-appearance: none;
            width: 0; }
  main .main4 {
    margin: .2rem 0;
    background-color: #fff; }
    main .main4 button {
      width: 100%;
      line-height: .9rem;
      font-size: .4rem;
      color: #fff;
      background-color: #fbb435; }

/*# sourceMappingURL=setting.css.map */
