@import "reset";
@import "common";

main{
  background-color: $bg-gray;
  overflow: hidden;


  .main1{
    height: 4.5rem;
    margin: .2rem 0;
    overflow: hidden;

    .fl{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.2rem;
      height: 100%;
      border-right: 1px solid #d9d9d9;
      background-color: #fff;


      p{
        width: 1em;
        word-break: break-all;
        font-size: .36rem;
      }
    }

    .right{
      position: relative;
      height: 100%;
      margin-left: 1.2rem;
      background-color: #fbfbfb;


      .row1{
        padding: 1em 0;
        height: calc(100% - .6rem);
        font-size: .26rem;
        color: $gray;
        overflow: auto;
        letter-spacing: .3em;

        .character{
          display: flex;
          align-items: center;
          justify-content: center;
          float: left;
          width: 50%;
          line-height: 2.7em;

          .mark{
            display: inline-block;
            width: .15rem;
            height: .15rem;
            margin-right: 1em;
          }

        }

        .killer{
          .mark{
            background-color: $yellow;
          }
        }

        .doctor{
          .mark{
            background-color: $blue;
          }
        }
      }

      .row2{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: .6rem;
        border-top: 1px solid #d9d9d9;
        color: $blue;
        text-align: center;
        font-size: .28rem;

        span{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          line-height: .6rem;
          display: inline-block;
          margin: auto;

          img{
            display: inline-block;
            width: .14rem;
            margin: 0 .5em;
          }
        }

      }
    }


  }

  .main2{
    padding:0 1em;
    margin: .2rem 0;
    background-color: #fff;
    font-size: .28rem;

    input{
      width: 100%;
      margin: .5em 0;
      outline: none;
      outline: 0;
      line-height: 2em;
      font-size: .28rem;
      background:none;


      &::-webkit-input-placeholder { /* WebKit browsers */
        color:    #d7d7d7;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #d7d7d7;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #d7d7d7;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #d7d7d7;
      }

      border: 0;
      border-bottom: 1px solid #d7d7d7;
    }
  }

  .main3{
    padding: 0 1em;
    font-size: .28rem;
    line-height: 3em;
    background-color: #fff;

    .row1{
      display: flex;
      align-items: center;


      input{
        border: 0;
        outline: none;
        display: flex;
        justify-content: center;
        width: 2em;
        height: 1.2em;
        line-height: 1em;
        text-align: center;
        margin: 0 .5em;
        font-size: .34rem;
        color: $yellow;
        background-color: $bg-gray;
      }
    }

    .row2{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3em;

      img{
        margin: 0 .2rem;
        width: .28rem;
        height: .28rem;
        &:hover{
          cursor: pointer;
        }
      }

      div{
        display: flex;
        align-items: center;
        width: 100%;

        input[type="range"]{
          -webkit-appearance: none;
          outline: none;
          height: .04rem;
          width: 100%;
          border: none;

          /*用渐变的纯色来代替背景图片，再设置一个背景颜色*/
          background: #ffe6be radial-gradient(#fcc671,#fcc671) left center no-repeat;
          margin: 0;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-image: url(../images/slider.png);
            background-size: .6rem .36rem;
            width: .6rem;
            height: .36rem;
            border: 0;
          }


          &::-moz-range-thumb{
            -webkit-appearance: none;
            background-image: url(../images/slider.png);
            background-size: .6rem .36rem;
            width: .6rem;
            height: .36rem;
            border: 0;
          }

          &::-moz-range-track{
            -webkit-appearance: none;
            width: 0;
          }

        }

      }

    }
  }

  .main4{
    margin: .2rem 0;
    background-color: #fff;


    button{
      width: 100%;
      line-height: .9rem;
      font-size: .4rem;
      color: #fff;
      background-color: $yellow;
    }
  }
}

