@import "reset";
@import "common";

header{
  .container{
    span{
      text-align: center;
    }
  }
}

main{
  margin-bottom: 1.9rem;
  background-color: $blue;
  overflow: hidden;

  .title{
    height: .8rem;
    line-height: .8rem;
    padding: 0 3%;
    font-size: .26rem;
    color: #000;
    background-color: #b9e9f5;

    span{
      margin-left: 1em;
    }

    button{
      right: 3%;

      .play{
        width: .52rem;
      }
    }
  }

  .tri{
    display: block;
    width: 0;
    height: 0;
    margin-left: 10%;
    border-top: .2rem solid #b9e9f5;
    border-left: solid .1rem transparent;
    border-right: solid .1rem transparent;
  }

  p{
    font-size: .24rem;
    padding-left: 2em;
    padding-bottom: 1em;
    color: #fff;
  }

  //@media (max-width: 639px;){
  .big-box {
    float: left;
    width: 21.3vw;
    height: 35vw;
    margin: 0 5vw;
    &:hover{
      .action-box{
        opacity: 1;
      }
    }

    .member-box {
      width: 22.3vw;
      height: 23.3vw;
      border: .03rem solid #fff;



      .member {
        height: 75%;
        background-color: #f5c97b;
        font-size: .3rem;
        color: #565656;
      }

      .number {
        height: 25%;
        background-color: #83b09a;
        font-size: .23rem;
        color: #fff;
      }
    }


    .action-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 33.333%;
      opacity: 0;

      a{
        line-height: 0;
        width: 22%;

        img{
          width: 100%;
        }
      }
    }


  }
//}

  @media (min-width: 640px){
    .big-box{
      float: left;
      width: 23.3%;
      height: 2.24rem;
      margin:0 5%;


      .member-box {
        width: 100%;
        height: 1.49rem;
        border: .03rem solid #fff;
      }
    }
  }
  @media (max-width: 300px){
    .big-box{
      float: left;
      width: 23.333%;
      height: 105px;
      margin:0 5%;

      .member-box {
        width: 100%;
        height: 70px;
        border: .03rem solid #fff;

      }
    }
  }
}

footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: 1.9rem;
  background-color: $blue;
  border-top: 1px solid #fff;

  button{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4.9rem;
    height: .9rem;
    margin: auto;
    font-size: .4rem;
    color: #fff;
    background-color: $yellow;
  }
}


