/*reset*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option {
  margin: 0;
  padding: 0; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

/*layout*/
.container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: auto; }

ul li {
  display: flex;
  align-items: center;
  padding: .3rem 0;
  padding-left: .3rem;
  line-height: .4rem;
  box-sizing: border-box;
  border-top: .01rem solid #e1e5e7; }
  ul li:first-child {
    border-top: none; }

.star {
  display: inline-block;
  padding-right: .5em;
  height: .23rem;
  width: .24rem; }

.line {
  display: inline-block;
  width: .01rem;
  height: 1em;
  margin: auto 1em;
  background-color: #e1e5e7; }

.left {
  display: inline-block;
  min-width: 1.43rem;
  color: #999;
  font-weight: 500; }

.red {
  color: #e26163;
  font-weight: 500; }

button {
  width: 50%;
  height: 2.5em;
  margin: 2.5%;
  font-size: .34rem;
  color: #5fc0cd;
  border: .02rem solid #5fc0cd;
  border-radius: .05rem; }
  button:hover, button:active {
    background-color: #5fc0cd;
    color: #fff; }

html {
  font-size: 625%; }
  html body {
    font: 0.32rem/1.5 "Heiti SC","Helvetica Neue","Microsoft Yahei",Helvetica,Arial,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    letter-spacing: .1em; }
    html body header {
      line-height: .8rem;
      background-color: #5fc0cd;
      color: #fff; }
      html body header .container {
        position: relative; }
        html body header .container .back {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          height: .37rem;
          width: .22rem; }
        html body header .container p {
          width: 100%;
          text-align: center;
          font-size: .36rem; }
    html body main {
      margin-bottom: 6em; }
      html body main .banner {
        position: relative;
        overflow: hidden; }
        html body main .banner .banner-bg {
          width: 100%;
          float: left; }
        html body main .banner .container {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          height: 100%; }
          html body main .banner .container .user {
            display: flex;
            align-items: center; }
            html body main .banner .container .user .user-logo {
              display: inline-block;
              height: 1.69rem;
              width: 1.69rem; }
            html body main .banner .container .user .user-info {
              padding-left: 2em;
              font-size: .24rem;
              color: #fff; }
              html body main .banner .container .user .user-info p .user-name {
                font-size: .36rem;
                font-weight: 500; }
              html body main .banner .container .user .user-info p .age {
                font-size: .28rem;
                padding-left: 1em; }
              html body main .banner .container .user .user-info p {
                display: flex;
                align-items: center; }
                html body main .banner .container .user .user-info p .location-logo {
                  padding-right: .5em;
                  display: inline-block;
                  height: .23rem;
                  width: .18rem; }
      html body main .user-resume {
        background-color: #fff; }
        html body main .user-resume .title {
          height: 1rem;
          font-weight: 500;
          box-sizing: border-box; }
          html body main .user-resume .title .line-blue {
            display: inline-block;
            width: .01rem;
            height: 1em;
            margin-right: .29rem;
            background-color: #5fc0cd;
            border-right: .02rem solid #5fc0cd; }
        html body main .user-resume ul {
          padding-left: 5%;
          border-top: .01rem solid #e1e5e7;
          border-bottom: .01rem solid #e1e5e7; }
          html body main .user-resume ul .last-text {
            font-size: .28rem;
            line-height: 1.5em; }
    html body footer {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: space-around;
      height: 6em;
      background-color: #fff; }

header,
main,
footer {
  max-width: 800px;
  margin: auto; }

@media (max-width: 700px) {
  html {
    font-size: 600%; } }
@media (max-width: 650px) {
  html {
    font-size: 550%; } }
@media (max-width: 600px) {
  html {
    font-size: 500%; } }
@media (max-width: 550px) {
  html {
    font-size: 450%; } }
@media (max-width: 500px) {
  html {
    font-size: 400%; } }
@media (max-width: 450px) {
  html {
    font-size: 350%; } }
@media (max-width: 400px) {
  html {
    font-size: 300%; } }
@media (max-width: 350px) {
  html {
    font-size: 250%; } }
@media (max-width: 300px) {
  html {
    font-size: 200%; } }
@media (max-width: 250px) {
  html {
    font-size: 200%; } }
@media (max-width: 200px) {
  html {
    font-size: 150%; } }

/*# sourceMappingURL=index.css.map */
