@charset "UTF-8";
/*reset*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option {
  margin: 0;
  padding: 0; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

span {
  display: inline-block; }

/*layout*/
.container {
  width: 90%;
  height: 100%;
  margin: auto; }

header .container,
nav .container,
footer .container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: auto; }

header .container {
  position: relative; }

footer .container {
  justify-content: space-around;
  letter-spacing: 0; }

footer span {
  cursor: pointer; }

p {
  display: flex;
  align-items: center; }

/*纯css的select框模拟，可修改各种样式*/
/*开始*/
.select-box {
  position: relative;
  width: 33.3%;
  height: .8rem;
  background-color: #fff;
  border-bottom: .01rem solid #e1e5e7; }

.select-head span[id]:target {
  display: block;
  z-index: 1; }

span.checked {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: .8rem;
  font-size: .28rem;
  color: #999;
  background-color: #fff; }

.select-head span[id] {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  line-height: .8rem;
  text-align: center;
  font-size: .28rem;
  color: #999;
  background-color: #fff; }

.select-body {
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: .02rem .02rem .02rem #ccc;
  border-radius: .05rem;
  border: .01rem solid #e1e5e7; }

.select-body a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: .28rem;
  color: #999; }

.select-body a:hover {
  background-color: #5fc0cd; }

.select-box:hover .select-body {
  z-index: 2; }

/*结尾*/
.line-gradients {
  width: .01rem;
  height: 100%;
  background: -webkit-radial-gradient(#e3e7e8, #fff);
  /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(#e3e7e8, #fff);
  /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(#e3e7e8, #fff);
  /* Firefox 3.6 - 15 */
  background: radial-gradient(#e3e7e8, #fff);
  /*  */ }

.caret {
  height: .08rem;
  width: .13rem;
  display: block;
  position: absolute;
  top: 50%;
  right: 4%;
  z-index: 99; }

html {
  font-size: 625%; }
  html body {
    font: 0.28rem/1.5 "Heiti SC","Helvetica Neue","Microsoft Yahei",Helvetica,Arial,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    letter-spacing: .1em;
    color: #999; }
    html body header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      height: .9rem;
      background-color: #5fc0cd; }
      html body header .btn-box {
        display: inline-block;
        width: 30%;
        min-width: 10em;
        height: 2.5em;
        margin: auto;
        text-align: center;
        background-color: #55a8b3;
        border-radius: .1rem; }
        html body header .btn-box button {
          float: left;
          width: 50%;
          height: 100%;
          font-size: .34rem;
          color: #fff;
          border-radius: 0.1rem; }
          html body header .btn-box button:hover, html body header .btn-box button.active {
            color: #5fc0cd;
            background-color: #fff; }
      html body header .location-logo2 {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: .44rem;
        width: .42rem; }
    html body nav {
      height: .8rem;
      margin-top: .9rem;
      border-bottom: .01rem solid #e1e5e7; }
    html body main {
      position: relative;
      z-index: 1;
      margin-bottom: 1rem;
      background-color: #fff; }
      html body main li {
        padding: .5em;
        font-size: .28rem;
        border-bottom: 1px solid #e1e5e7; }
        html body main li .service-date .date-logo {
          padding-right: .1rem;
          height: .24rem;
          width: .24rem; }
        html body main li .date-info {
          display: block;
          padding-left: .36rem;
          color: #000; }
          html body main li .date-info date {
            color: #000; }
          html body main li .date-info .cost {
            display: flex;
            align-items: center;
            float: right;
            font-size: .3rem;
            color: #e63b0e;
            text-align: right; }
            html body main li .date-info .cost .tri {
              height: .33rem;
              width: .19rem;
              margin-left: .5em; }
        html body main li .location {
          font-size: .26rem; }
          html body main li .location .location-logo3 {
            padding-right: .12rem;
            padding-left: .03rem;
            height: .23rem;
            width: .19rem; }
    html body footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 999;
      height: 1rem;
      margin: auto;
      font-size: .2rem;
      background-color: #f8fafb; }
      html body footer .home {
        color: #5fc0cd;
        display: flex;
        align-items: center;
        flex-direction: column; }
        html body footer .home .home-logo {
          height: .40rem;
          width: .46rem; }
      html body footer .write {
        height: .94rem;
        width: .94rem; }
      html body footer .my {
        color: #999;
        display: flex;
        flex-direction: column;
        align-items: center; }
        html body footer .my .my-logo {
          height: .41rem;
          width: .41rem; }

header,
nav,
main,
footer {
  max-width: 800px;
  margin: auto; }

@media (max-width: 700px) {
  html {
    font-size: 600%; } }
@media (max-width: 650px) {
  html {
    font-size: 550%; } }
@media (max-width: 600px) {
  html {
    font-size: 500%; } }
@media (max-width: 550px) {
  html {
    font-size: 450%; } }
@media (max-width: 500px) {
  html {
    font-size: 400%; } }
@media (max-width: 450px) {
  html {
    font-size: 350%; } }
@media (max-width: 400px) {
  html {
    font-size: 300%; } }
@media (max-width: 350px) {
  html {
    font-size: 250%; } }
@media (max-width: 300px) {
  html {
    font-size: 200%; } }
@media (max-width: 250px) {
  html {
    font-size: 200%; } }
@media (max-width: 200px) {
  html {
    font-size: 150%; } }

/*# sourceMappingURL=list.css.map */
