@charset "utf-8";
@import "../base";
@import "../gird";

.slogan{
  .img-box{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    height: 70px;
    width: 70px;
  }

  h4{
    line-height: 4em;
  }

  p{
    color: #999;
  }

  .slogan-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
  }

  .line-box{
    border-left: 1px #ccc dashed;
    display: flex;
    justify-content: center;
    padding: 20px;

    @media (max-width: 768px) {
      border: 0;
    }




    .num-box {

      .study-num,
      .work-num {
        padding-bottom: 20px;
      }

      .num {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #29b078;

        .user {
          display: inline-block;
          margin-right: .5em;
        }

      }

    }

  }

}
