@charset "UTF-8";
/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button {
  margin: 0;
  padding: 0; }

html {
  font-size: 625%; }
  html body {
    font: .14rem/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif; }
    html body h4 {
      font-size: .16rem; }

button {
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

img {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*全局样式*/
.fl {
  float: left; }

.fr {
  float: right; }

.rel {
  position: relative; }

.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absr {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: auto; }

.absl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-v {
  display: flex;
  align-items: center; }

.clear {
  overflow: hidden; }

.clear:before,
.clear:after {
  display: block;
  content: '';
  clear: both; }

/*common-verb*/
.container {
  margin: auto; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px; } }
  @media (max-width: 1200px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 768px) {
    .container {
      min-width: 300px;
      margin: 0 20px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1; }
  @media (min-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; }
    .row .col-lg-offset-10 {
      margin-left: 10%; }
    .row .col-lg-offset-20 {
      margin-left: 20%; }
    .row .col-lg-offset-25 {
      margin-left: 25%; }
    .row .col-lg-offset-33 {
      margin-left: 33%; }
    .row .col-lg-offset-50 {
      margin-left: 50%; }
    .row .col-lg-offset-66 {
      margin-left: 66%; }
    .row .col-lg-offset-75 {
      flex: 0 0 75%; }
    .row .col-lg-10 {
      flex: 0 0 10%; }
    .row .col-lg-20 {
      flex: 0 0 20%; }
    .row .col-lg-25 {
      flex: 0 0 25%; }
    .row .col-lg-33 {
      flex: 0 0 33.3%; }
    .row .col-lg-50 {
      flex: 0 0 50%; }
    .row .col-lg-66 {
      flex: 0 0 66.7%; }
    .row .col-lg-75 {
      flex: 0 0 75%; }
    .row .col-lg-100 {
      flex: 0 0 100%; } }
  @media (max-width: 1200px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; }
    .row .col-md-offset-10 {
      margin-left: 10%; }
    .row .col-md-offset-20 {
      margin-left: 20%; }
    .row .col-md-offset-25 {
      margin-left: 25%; }
    .row .col-md-offset-33 {
      margin-left: 33%; }
    .row .col-md-offset-50 {
      margin-left: 50%; }
    .row .col-md-offset-66 {
      margin-left: 66%; }
    .row .col-md-offset-75 {
      flex: 0 0 75%; }
    .row .col-md-10 {
      flex: 0 0 10%; }
    .row .col-md-20 {
      flex: 0 0 20%; }
    .row .col-md-25 {
      flex: 0 0 25%; }
    .row .col-md-33 {
      flex: 0 0 33.3%; }
    .row .col-md-50 {
      flex: 0 0 50%; }
    .row .col-md-66 {
      flex: 0 0 66.7%; }
    .row .col-md-75 {
      flex: 0 0 75%; }
    .row .col-md-100 {
      flex: 0 0 100%; } }
  @media (max-width: 992px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; }
    .row .col-sm-offset-10 {
      margin-left: 10%; }
    .row .col-sm-offset-20 {
      margin-left: 20%; }
    .row .col-sm-offset-25 {
      margin-left: 25%; }
    .row .col-sm-offset-33 {
      margin-left: 33%; }
    .row .col-sm-offset-50 {
      margin-left: 50%; }
    .row .col-sm-offset-66 {
      margin-left: 66%; }
    .row .col-sm-offset-75 {
      flex: 0 0 75%; }
    .row .col-sm-10 {
      flex: 0 0 10%; }
    .row .col-sm-20 {
      flex: 0 0 20%; }
    .row .col-sm-25 {
      flex: 0 0 25%; }
    .row .col-sm-33 {
      flex: 0 0 33.3%; }
    .row .col-sm-50 {
      flex: 0 0 50%; }
    .row .col-sm-66 {
      flex: 0 0 66.7%; }
    .row .col-sm-75 {
      flex: 0 0 75%; }
    .row .col-sm-100 {
      flex: 0 0 100%; } }
  @media (max-width: 768px) {
    .row .col-xs-offset-10 {
      margin-left: 10%; }
    .row .col-xs-offset-20 {
      margin-left: 20%; }
    .row .col-xs-offset-25 {
      margin-left: 25%; }
    .row .col-xs-offset-33 {
      margin-left: 33%; }
    .row .col-xs-offset-50 {
      margin-left: 50%; }
    .row .col-xs-offset-66 {
      margin-left: 66%; }
    .row .col-xs-offset-75 {
      flex: 0 0 75%; }
    .row .col-xs-10 {
      flex: 0 0 10%; }
    .row .col-xs-20 {
      flex: 0 0 20%; }
    .row .col-xs-25 {
      flex: 0 0 25%; }
    .row .col-xs-33 {
      flex: 0 0 33.3%; }
    .row .col-xs-50 {
      flex: 0 0 50%; }
    .row .col-xs-66 {
      flex: 0 0 66.7%; }
    .row .col-xs-75 {
      flex: 0 0 75%; }
    .row .col-xs-100 {
      flex: 0 0 100%; } }

.student-show h4 {
  font-weight: normal; }
.student-show .row .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 30px;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  -moz-box-shadow: 2px 2px 2px #ccc;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #999; }
  .student-show .row .inner:hover {
    -webkit-box-shadow: 5px 5px 10px #ccc;
    -moz-box-shadow: 5px 5px 10px #ccc;
    box-shadow: 5px 5px 10px  #ccc; }
  .student-show .row .inner .img-box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc; }
    .student-show .row .inner .img-box:hover {
      -webkit-box-shadow: 5px 5px 10px #ccc;
      -moz-box-shadow: 5px 5px 10px #ccc;
      box-shadow: 5px 5px 10px #ccc; }
  .student-show .row .inner h4 {
    line-height: 3em;
    color: #000;
    font-size: .18rem; }
.student-show .row ul {
  display: flex;
  justify-content: center;
  width: 100%; }
  .student-show .row ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc; }
    .student-show .row ul li:hover, .student-show .row ul li.active {
      background-color: #29b078; }

/*# sourceMappingURL=student-show.css.map*/
