@charset "utf-8";

/*全局变量*/
$blue: #29bde0;
$yellow: #fbb435;
$gray: #9a9a9a;
$bg-gray: #f0f0f0;



/*基础样式*/
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-v{
  display: flex;
  align-items: center;
}

.absol{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
}

.absol-v{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
}

.text-a{
  text-align: center;
}

.rel{
  position: relative;
}

.fl{
  float: left;
}

.fr{
  float: right;
}


/*@media自适应查询*/
@media (max-width: 600px) {
  html{
    font-size: 600%;
  }
}

@media (max-width: 500px) {
  html{
    font-size: 500%;
  }
}

@media (max-width: 550px) {
  html{
    font-size: 550%;
  }
}

@media (max-width: 500px) {
  html{
    font-size: 500%;
  }
}

@media (max-width: 450px) {
  html{
    font-size: 450%;
  }
}

@media (max-width: 400px) {
  html{
    font-size: 400%;
  }
}

@media (max-width: 350px) {
  html{
    font-size: 350%;
  }
}


/*限宽*/

body,header,footer{
  max-width: 640px;
  min-width: 300px;
  margin: auto;
}


/*header组件*/
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: .8rem;
  text-align: center;
  line-height: .8rem;
  font-size: .34rem;
  color: #fff;
  background-color: $blue;

  .container{
    position: relative;
    width: 93.7%;
    height: 100%;
    margin: auto;

    .pl{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      img{
        width: .38rem;
      }

    }

    .pr{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;

      img{
        width: .38rem;
        height: .38rem;
      }
    }
  }
}

/*main组件*/
main{
  margin-top: .8rem;
}