/*reset*/
html,body,ol,ul,li,p,div,input,button,h1,h2,h3,.btn{
    padding: 0;
    margin: 0;
}

html{
    font-size: 625%;
}

body{
    font: 14px/1.5 "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
input,button{
    outline: none;
    border: 0;
}

/*layout*/
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: .6rem;
    background-color: #5fc0cd;
    text-align: center;
    line-height: .6rem;
}

header .btn-group{
    width: 40%;
    border-radius: .1rem;
    background-color: #55a8b3;
}

header .btn-group button{
    float: left;
    width: 50%;
    height: .4rem;
    border-radius: .1rem;
    line-height: .4rem;
}
.btn-l{
    background-color: transparent;
    color: #fff;
}

.btn-r{
    background-color: #fff;
    color: #5fc0cd;
}

header img{
    position: absolute;
    top:0;
    bottom: 0;
    right: 3%;
    margin: auto;
    width: .3rem;
}

nav{
    height: .6rem;
    padding: 0  ;
    margin-top: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div.dropdown{
    width: 33.3%;
}

nav button{
    position: relative;
    background: #fff;
    width: 100%;
    border-right: solid 1px #e1e5e7;
    color: #a7a7a7;
}

.dropdown button.patient{
    border-right: 0;
}

nav button .caret{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    margin: auto;
}

nav ul{
    width: 100%;
    min-width: 100%!important;
}

nav ul li{
    text-align: center;
}

main{
    margin-bottom: .8rem;
}

main ul{
    border-top: solid 1px #e1e5e7;
    padding: .1rem 3%;
}

main ul li{
    line-height: .2rem;
    vertical-align: baseline;
    color: #a7a7a7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main img{
    width: .12rem;
    margin-right: .04rem;
}

main li.date{
    position: relative;
    padding-left: .16rem;
    color: #000;
    height: .2rem;
    overflow: hidden;
}

main li.date .cost{
    float: right;
    display: inline-block;
    color: #e63b0e;
}

main .cost .arrow{
    position: relative;
    display: inline-block;
}

main .cost .arrow-r{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: .07rem solid transparent;
    border-bottom: .07rem solid transparent;
    border-left: .08rem solid #5fc0cd;
}

main .cost .arrow-l{
    position: relative;
    left: .1rem;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: .07rem solid transparent;
    border-bottom: .07rem solid transparent;
    border-left: .08rem solid #fff;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: .8rem;
    padding: 0 3%;
    text-align: center;
    vertical-align: middle;
    background-color: #f8fafb;
    display: flex;
}

footer button{
    background-color: transparent;
    margin: auto;
}

.home img,.user img {
    max-height: .3rem;
}

footer .home{
    color: #5fc0cd;
}

footer .user{
    color: #999;
}
.write img{
    max-height: .6rem;
}