/*reset*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

html{
    font-size:625%;
    color: #fff;
}

body{
    font-size: .16rem;
}

button{
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

ul{
    list-style: none;
}
/*layout*/
header{
    height: .5rem;
    padding: 0 .2rem;
    background: #5fc0cd;
    position: fixed;
    z-index: 1;
    line-height: .5rem;
    font-size: .2rem;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

header img{
    height:.2rem;
    float: left;
    margin:auto;
    position: absolute;
    top:0;
    bottom:0;
}

header p{
    text-align: center;
}

main .user{
    width: 100%;
    height: 1.5rem;
    position: absolute;
    top: .5rem;
    background: url("images/task5-1-banner.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
}

.user .user-photo{
    height:1rem;
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    padding-left: .2rem;
}

.user .user-info{
    padding-left: 1.4rem;
    display: table-cell;
    vertical-align: middle;
}
.user .user-name{
    font-size: .2rem;
}
.user-info .location{
    background: url("images/task5-1-4.png") no-repeat left center;
    background-size: auto .12rem;
    font-size: .14rem;
    padding-left:.14rem;
}

main .user-items{
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 .3rem;
    color: #000;
    font-size: .2rem;
    vertical-align: middle;
}

.user-items li{
    padding: .2rem 0;
    border-bottom: 1px solid #999;
}


.user-items li span:first-child{
    color: #999;
    padding-right: .2rem;
    border-right: 1px solid #ccc;
    margin-right: .2rem;
}

.user-items .line {
    border-left: .02rem solid #5fc0cd;
    position: relative;
    right: .1rem;
}

.user-items .star span{
    background: url("images/task5-1-3.png") no-repeat left center;
    background-size: .2rem;
    padding: 0 .25rem;
    color: #000;
}

.user-items .red{
    color: red;
}

li:last-child{
    position: relative;
}


.left{
    position: absolute;
    top:50%;
    margin-top: -.1rem;

}
.user-items .info{
    font-size: .14rem;
    margin-left: 1.2rem;
    display: block;
}

footer{
    width:100%;
    position: fixed;
    bottom:0;
    margin: 0 auto;
    text-align: center;
    padding:.2rem 0;
    height:.4rem;
    background: #fff;
}

button{
    width: 43%;
    height: .5rem;
    margin: 0 2%;
    border: 1px solid #5fc0cd;
    border-radius: .05rem;
    display: inline-block;
    font-size: .2rem;
}
button.message{
    background: #fff;
    color: #5fc0cd;
}

button.tel{
    background: #5fc0cd;
    color: #fff;
}