/*background-image*/
.user,
.arrow-b,
.fast,
.contact,
.rule,
.photo-1,
.photo-2,
.photo-3,
.photo-4 {
    background-image: url("images/task8-1.png");
    background-repeat: no-repeat;
}

.user{height:13px;width:13px;background-position: 0 0;}
.arrow-b{height:30px;width:32px;background-position: 0 -148px;}
.fast{height:62px;width:43px;background-position: 0 -178px;}
.contact{height:55px;width:52px;background-position: 0 -240px;}
.rule{height:48px;width:60px;background-position: 0 -295px;}
.photo-1{height:136px;width:140px;background-position: 0 -756px;}
.photo-2{height:116px;width:146px;background-position: 0 -892px;}
.photo-3{height:161px;width:159px;background-position: 0 -1008px;}
.photo-4{height:128px;width:128px;background-position: 0 -559px;}

main{
    background-color: #fafafa;
}

main h4{
    text-align: center;
}

div{
    margin: auto;
}

p{
    color: #999;
}

.row{
    margin: 5% 0;
}

.slogan>div{
    position: relative;
    padding: 3vw;
    margin-bottom: 20px;
}

.slogan>div>div{
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    top: 0;
}

.slogan>div>h4{
    margin-top: 50px;
    text-align: center;
    line-height: 3em;

}

.slogan>div .study-num,.slogan>div .work-num{
    position: static;
    margin-top: 50px;
    color: #29b078;
    vertical-align: middle;
}

.slogan>div .work-num{
    margin-top:20px;
}

.contact-box{
    border-right: 1px #ccc dashed;
}

.num{
    vertical-align: middle;
    color: #29b078;
}

.user{
    display: inline-block;
    margin: 0;
    margin-right: .5em;
}

.slogan>div>p,.text{
    color: #999;
}

.study-path>div{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right:40px;
    height: 6em;
    font-size: .14rem;
    color: #999;
}

.study-path span{
    display: flex;
    width: 3em;
    height: 3em;
    margin-right: 10px;
    color: #29b078;
    background-color: #fff;
    box-shadow: #ccc 1px 1px 3px ;
    border-radius: 50%;
    float: left;
    vertical-align: middle;

}

.study-path span div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}

.arrow-b{
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    margin:auto;
}

.student-show h4{
    line-height: 4em;
}

.student-show>div>div{
    /*height:0;
    */
    /*padding-bottom: 40%;*/
    margin: 15px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: #ccc 1px 1px 2px;
}

.student-show>div>div>div{
    height:120px;
    width: 120px;
    border-radius: 50%;
    /*border: solid 1px #000*/;
    box-shadow: #ccc 2px 2px 2px;
}

.student-show>div>div>div:hover,
.student-show>div>div:hover,
.student-show li:hover{
    box-shadow: #ccc 5px 5px 10px;
}

.student-show li{
    display: inline-block;
    width: .1rem;
    height: .1rem;
    border: #ccc 1px solid;
    border-radius: 50%;
    -webkit-box-shadow:  1px 1px 1px #ccc;
    -moz-box-shadow:  1px 1px 1px #ccc;
    box-shadow:  1px 1px 1px #ccc;
}

.student-show li.active,
.student-show li:hover{
    background-color: #29b078;
}

.student-show li a{
    display: block;
    width: .1rem;
    height: .1rem;
}


.student-show ul{
    text-align: center;
}


.business>li{
    position: relative;
    width:20%;
    height:120px;
    float: left;
    border: #ccc solid 1px;
    border-radius: 3px;
    box-shadow: #ccc 2px 2px 2px;
    overflow: hidden;
    background-color: #fff;
}

.business>li img{
    position: absolute;
    top:0;
    bottom: 0%;
    left: 0;
    right: 0;
    max-width: 90%;
    margin: auto;
}

.business>li:hover {
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 10px 2px #ccc;
}

.links a{
    color: #999;
    display: list-item;
    list-style: disc;
}


@media (max-width: 768px) {
     main .container{
        max-width: 500px;
    }

    p{
        text-align: center;
    }

    .slogan>div>h4{
        margin-top: 0;
    }
    .slogan>div{
        height:auto;
    }

    .slogan>div>div{
        position: static;
    }

    .contact-box{
        border:0;
    }

    .slogan>div .study-num,.slogan>div .work-num{
        text-align: center;
    }

    .business>li{
        width:50%;
    }
}

